:root {
  --primary-font: 'Roboto', sans-seri;
  --secondary-font: 'Hind Madurai', sans-seri;
  --third-font: 'Fredoka', sans-seri;

  --default-font-size: 16px;

  --default-color: #000000;
  --primary-color: #d64374;
  --primary-color-light: rgba(242, 206, 218, 0.3);
}
